<section
  class="filter filter--list print@filter print@filter--list
    {{if this.allAreInitiallySelected 'print@hidden'}}"
  {{on-mouse-leave this.triggerChanges}}
  data-test-filter-client-container
  ...attributes
>
  <div class="filter__header">
    <h2 class="filter__title print@filter__title">Clients</h2>
    <div
      class="filter__count print@hidden"
    >({{this.selectedIds.length}}/{{this.all.length}})</div>
  </div>
  <div class="filter__list-container">
    <ul class="filter__list">
      <li class="filter__toggle-bar print@hidden">
        <button
          type="button"
          class="filter__toggle-button"
          {{on "click" this.checkAll}}
        >
          Select all
        </button>
        <button
          type="button"
          class="filter__toggle-button"
          {{on "click" this.uncheckAll}}
        >
          Select none
        </button>
      </li>
      {{#each this.all as |client|}}
        <li
          class="filter__item
            {{if (eq client.id '0') 'filter__item--font--italic'}}
            {{if (not (includes client.id this.selectedIds)) 'print@hidden'}}"
        >
          <label class="filter__item-content">
            <input
              {{on "change" (fn this.changeSelection client.id)}}
              type="checkbox"
              class="filter__item-checkbox print@hidden"
              checked={{includes client.id this.selectedIds}}
              data-test-filter-client="{{client.id}}"
            />
            <span>{{client.name}}</span>
          </label>
        </li>
      {{/each}}
    </ul>
  </div>
</section>