<section
  class="filter filter--list
    {{if this.allAreInitiallySelected 'no-print'}}"
  {{on-mouse-leave this.triggerChanges}}
  data-test-filter-client-container
  ...attributes
>
  <div class="filter__header">
    <h2 class="filter__title">Clients</h2>
    <div
      class="filter__count  no-print"
    >({{this.selectedIds.length}}/{{this.all.length}})</div>
  </div>
  <div class="filter__list-container">
    <ul class="filter__list">
      <li class="filter__toggle-bar no-print">
        <button type="button" class="filter__toggle-button touch" {{on "click" this.checkAll}}>
          Select all
        </button>
        <button type="button" class="filter__toggle-button touch" {{on "click" this.uncheckAll}}>
          Select none
        </button>
      </li>
      {{#each this.all as |client|}}
        <li
          class="filter__item
            {{if (eq client.id '0') 'filter__item--font--italic'}}
            {{if (not (includes client.id this.selectedIds)) 'no-print'}}"
        >
          <label class="filter__item-content">
            <input
              {{on "change" (fn this.changeSelection client.id)}}
              type="checkbox"
              class="filter__item-checkbox no-print"
              checked={{includes client.id this.selectedIds}}
              data-test-filter-client="{{client.id}}"
            />
            <span>{{client.name}}</span>
          </label>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
