<section
  class="reviews-filter reviews-filter-users
    {{if this.allAreInitiallySelected 'no-print'}}"
  {{on-mouse-leave this.triggerChanges}}
  data-test-filter-user-container
>
  <div class="reviews-filter-header">
    <h2 class="reviews-filter-header-title">Users</h2>
    <div
      class="reviews-filter-header-count no-print"
    >({{this.selectedIds.length}}/{{this.all.length}})</div>
  </div>
  <div class="reviews-filter-item-list-container">
    <ul class="reviews-filter-item-list">
      <li class="reviews-filter-item reviews-filter-item-toggle no-print">
        <button type="button" class="touch" {{on "click" this.checkAll}}>
          Select all
        </button>
        <button type="button" class="touch" {{on "click" this.uncheckAll}}>
          Select none
        </button>
      </li>
      {{#each this.all as |user|}}
        <li
          class="reviews-filter-item
            {{if (not (includes user.id this.selectedIds)) 'no-print'}}"
        >
          <label class="reviews-filter-item-checkbox-container">
            <input
              {{on "change" (fn this.changeSelection user.id)}}
              type="checkbox"
              class="reviews-filter-item-checkbox no-print"
              checked={{includes user.id this.selectedIds}}
              data-test-filter-user="{{user.id}}"
            />
            <span class="reviews-filter-item-checkbox-txt">
              {{user.name}}
            </span>
          </label>
        </li>
      {{/each}}
    </ul>
  </div>
</section>