<div
  class="running-entry {{if this.isSaveErrored 'running-entry--errored'}}"
  data-test-running-entry
>
  <div class="running-entry__actions no-print">
    {{#if this.isSaveErrored}}
      <button
        type="button"
        {{on "click" this.retrySaveEntry}}
        class="running-entry__action running-entry__action--retry"
        data-test-running-entry-retry
      >
      </button>
    {{/if}}
  </div>
  <input
    value="{{this.entry.title}}"
    class="running-entry__title"
    placeholder="What are you working on ?"
    {{on "keyup" this.onTitleKeyUp}}
    {{on "paste" this.onTitlePaste}}
    data-test-running-entry-title
  />
  <div class="running-entry__project">
    <EntryChooseProject
      @projectName={{this.entry.project.name}}
      @inputClasses="running-entry__project-input"
      @searchProjects={{this.searchProjects}}
      @selectProject={{this.selectProject}}
      @keyPressed={{this.startTimer}}
    />
  </div>
  <div class="running-entry__duration" data-test-running-entry-duration>
    {{if this.isStarted this.entryDuration "00:00:00"}}
  </div>
  {{#if this.isStarted}}
    <button
      class="running-entry__button running-entry__button--stop"
      data-test-stop-entry
      type="button"
      {{on "click" this.stopTimer}}
    >Stop</button>
  {{else}}
    <button
      class="running-entry__button running-entry__button--start"
      data-test-start-entry
      type="button"
      {{on "click" this.startTimer}}
    >Start</button>
  {{/if}}
</div>
