<div class="entry-create {{if this.isSaveErrored "errored"}}" data-test-running-entry>
  <div class="entry-actions no-print">
    {{#if this.isSaveErrored}}
      <a {{on "click" this.retrySaveEntry}} class="entry-action entry-action-retry touch" data-test-running-entry-retry>
      </a>
    {{/if}}
  </div>
  <Input
    @value={{this.entry.title}}
    class="entry-create-title text-input"
    placeholder="What are you working on ?"
    {{on "keyup" this.startTimerOrTriggerUpdate}}
    data-test-running-entry-title />
  <div class="entry-create-project-container">
     <EntryChooseProject
       @projectName={{this.projectName}}
       @classNamePrefix="entry-create"
       @searchProjects={{this.searchProjects}}
       @selectProject={{this.selectProject}}
       @keyPressed={{this.startTimer}} />
  </div>
  <div class="entry-create-duration touch" data-test-running-entry-duration>
    {{if this.isStarted this.entryDuration "00:00:00"}}
  </div>
  {{#if this.isStarted}}
    <button class="entry-create-stop touch" data-test-stop-entry type="button" {{on "click" this.stopTimer}}>Stop</button>
  {{else}}
    <button class="entry-create-start touch" data-test-start-entry type="button" {{on "click" this.startTimer}}>Start</button>
  {{/if}}
</div>
