<section class="entry-root-group-list">

  {{#if this.multipleGroups}}
    <div class="entry-root-group-list-header with-actions">
      <h2 class="entry-root-group-list-header-title">Total</h2>
      <div
        class="entry-root-group-list-header-duration"
        data-test-entries-total-duration
      >
        {{format-duration
          (if
            this.rounding
            this.totalRoundedDurationInSeconds
            this.totalDurationInSeconds
          )
        }}
      </div>
      <div class="entry-root-group-list-header-actions">
        <button
          type="button"
          class="entry-root-group-list-header-action no-print touch"
          {{on "click" this.generateCSV}}
        >
          CSV
        </button>
      </div>
    </div>
  {{/if}}

  {{#each this.groups as |group|}}
    <section
      class="entry-root-group"
      data-test-client-group="{{or group.client.id '-1'}}"
    >
      <div class="entry-root-group-header with-actions">
        <h2 class="entry-root-group-header-title" data-test-client-group-name>
          {{if group.client.name group.client.name "No client"}}
        </h2>
        <div
          class="entry-root-group-header-duration"
          data-test-client-group-duration
        >
          {{format-duration
            (if
              this.rounding
              group.roundedDurationInSeconds
              group.durationInSeconds
            )
          }}
        </div>
        <div class="entry-root-group-header-actions">
          <button
            type="button"
            class="entry-root-group-header-action no-print touch"
            {{on "click" (fn this.generateClientCSV group.client)}}
          >CSV</button>
        </div>
      </div>
      <EntriesByProject
        @list={{group}}
        @rounding={{this.rounding}}
        @didUpdateEntry={{this.didUpdateEntry}}
        @didDeleteEntry={{this.didDeleteEntry}}
        @searchProjects={{this.searchProjects}}
        @generateCSV={{@generateCSV}}
      />
    </section>
  {{/each}}
</section>