<section class="entry-group-list">
  <h2 class="entry-group-list-duration only-print">
    Total:
    {{format-duration this.list.durationInSeconds}}
  </h2>
  {{#each this.list.groups as |group|}}
    <section class="entry-group" data-test-entry-group>
      <header class="entry-group-header">
        <h2
          title={{moment-format group.day "YYYY-MM-DD"}}
          class="entry-group-header-title no-print"
          data-test-entry-group-title
        >{{entry-group-day group.day}}</h2>
        <h2 class="entry-group-header-title only-print">{{moment-format
            group.day
            "YYYY-MM-DD"
          }}</h2>
        <div
          class="entry-group-header-duration"
          data-test-entry-group-duration
        >{{format-duration group.durationInSeconds}}</div>
      </header>
      <ul class="entry-group-item-list">
        {{#each group.entries as |entry|}}
          <ShowEntry
            @entry={{entry}}
            @willUpdateEntry={{this.willUpdateEntry}}
            @didUpdateEntry={{this.didUpdateEntry}}
            @willDeleteEntry={{this.willDeleteEntry}}
            @didDeleteEntry={{this.didDeleteEntry}}
            @didRevertEntry={{this.didRevertEntry}}
            @restartEntry={{this.restartEntry}}
            @searchProjects={{this.searchProjects}}
          />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>