<section>
  <h2 class="only-print">
    Total:
    {{format-duration this.list.durationInSeconds}}
  </h2>
  {{#each this.list.groups as |group|}}
    <section data-test-entry-group>
      <header class="entries-header entries-header--theme--light">
        <h2
          title="{{moment-format group.day 'YYYY-MM-DD'}}"
          class="entries-header__title no-print"
          data-test-entry-group-title
        >{{entry-group-day group.day}}</h2>
        <h2 class="entries-header__title only-print">{{moment-format
            group.day
            "YYYY-MM-DD"
          }}</h2>
        <div
          class="entries-header__duration"
          data-test-entry-group-duration
        >{{format-duration group.durationInSeconds}}</div>
      </header>
      <ul>
        {{#each group.entries as |entry|}}
          <ShowEntry
            @entry={{entry}}
            @showProjectOnPrint="false"
            @willUpdateEntry={{this.willUpdateEntry}}
            @didUpdateEntry={{this.didUpdateEntry}}
            @willDeleteEntry={{this.willDeleteEntry}}
            @didDeleteEntry={{this.didDeleteEntry}}
            @didRevertEntry={{this.didRevertEntry}}
            @restartEntry={{this.restartEntry}}
            @searchProjects={{this.searchProjects}}
          />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>
