<section>

  {{#if this.multipleGroups}}
    <div
      class="entries-header entries-header--with-actions entries-header--theme--color entries-header--font--xl print@entries-header print@entries-header--theme--light"
    >
      <h2 class="entries-header__title print@entries-header__title">Total</h2>
      <div
        class="entries-header__duration print@entries-header__duration"
        data-test-entries-total-duration
      >
        {{format-duration
          (if
            this.rounding
            this.totalRoundedDurationInSeconds
            this.totalDurationInSeconds
          )
        }}
      </div>
      <div class="entries-header__actions print@hidden">
        <button
          type="button"
          class="entries-header__action"
          {{on "click" this.generateCSV}}
        >
          CSV
        </button>
      </div>
    </div>
  {{/if}}

  {{#each this.groups as |group|}}
    <section data-test-client-group="{{or group.client.id '-1'}}">
      <div
        class="entries-header entries-header--with-actions entries-header--theme--dark entries-header--margin--vertical print@entries-header print@entries-header--theme--boxed"
      >
        <h2
          class="entries-header__title print@entries-header__title"
          data-test-client-group-name
        >
          {{if group.client.name group.client.name "No client"}}
        </h2>
        <div
          class="entries-header__duration print@entries-header__duration"
          data-test-client-group-duration
        >
          {{format-duration
            (if
              this.rounding
              group.roundedDurationInSeconds
              group.durationInSeconds
            )
          }}
        </div>
        <div class="entries-header__actions print@hidden">
          <button
            type="button"
            class="entries-header__action"
            {{on "click" (fn this.generateClientCSV group.client)}}
          >CSV</button>
        </div>
      </div>
      <EntriesByProject
        @list={{group}}
        @rounding={{this.rounding}}
        @didUpdateEntry={{this.didUpdateEntry}}
        @didDeleteEntry={{this.didDeleteEntry}}
        @searchProjects={{this.searchProjects}}
        @generateCSV={{@generateCSV}}
      />
    </section>
  {{/each}}
</section>