<section>
  {{#each this.groups as |group|}}
    <section
      data-test-project-group="{{or group.project.id '-1'}}"
    >
      <header class="entries-header entries-header--with-actions entries-header--theme--light
                     print@entries-header print@entries-header--theme--underline">
        <h2 class="entries-header__title print@entries-header__title" data-test-project-group-name>
          {{if group.project.name group.project.name "No project"}}
        </h2>
        <div
          class="entries-header__duration print@entries-header__duration"
          data-test-project-group-duration
        >{{format-duration
            (if
              this.rounding
              group.roundedDurationInSeconds
              group.durationInSeconds
            )
          }}</div>
        <div class="entries-header__actions print@hidden">
          <button
            type="button"
            class="entries-header__action"
            {{on "click" (fn this.generateCSV group.project)}}
          >
            CSV
          </button>
        </div>
      </header>
      <ul>
        {{#each group.entries as |entry|}}
          <ShowEntry
            @entry={{entry}}
            @showDate="true"
            @rounding={{this.rounding}}
            @didUpdateEntry={{this.didUpdateEntry}}
            @didDeleteEntry={{this.didDeleteEntry}}
            @searchProjects={{this.searchProjects}}
          />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>
