<section>

  <div class="print@only print@entries-header print@entries-header--theme--light">
    <h2 class="print@entries-header__title">Total</h2>
    <div class="print@entries-header__duration">
      {{format-duration this.list.durationInSeconds}}
    </div>
  </div>

  {{#each this.list.groups as |group|}}
    <section data-test-entry-group>
      <header class="entries-header entries-header--theme--light
                     print@entries-header print@entries-header--theme--underline">
        <h2
          title="{{moment-format group.day 'YYYY-MM-DD'}}"
          class="entries-header__title print@hidden"
          data-test-entry-group-title
        >
          {{entry-group-day group.day}}
        </h2>
        <h2 class="print@only print@entries-header__title">
          {{moment-format group.day "YYYY-MM-DD"}}
        </h2>
        <div
          class="entries-header__duration print@entries-header__duration"
          data-test-entry-group-duration
        >{{format-duration group.durationInSeconds}}</div>
      </header>
      <ul>
        {{#each group.entries as |entry|}}
          <ShowEntry
            @entry={{entry}}
            @showProjectOnPrint="false"
            @willUpdateEntry={{this.willUpdateEntry}}
            @didUpdateEntry={{this.didUpdateEntry}}
            @willDeleteEntry={{this.willDeleteEntry}}
            @didDeleteEntry={{this.didDeleteEntry}}
            @didRevertEntry={{this.didRevertEntry}}
            @restartEntry={{this.restartEntry}}
            @searchProjects={{this.searchProjects}}
          />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>
