<div>
  <input
    value={{or this.nameInputValue this.projectName}}
    type="text"
    class={{this.inputClasses}}
    placeholder="Project"
    {{select-on-focus}}
    {{focus-if this.focusOnInput}}
    {{on "focusin" this.setNameInputValue}}
    {{on "focusout" this.clearProjects}}
    {{on "keyup" this.keyPressed}}
    data-test-entry-edit-project
  />

  {{#if this.projects}}
    <ul class="project-choices-list">
      {{#each this.projects as |project|}}
        <li
          {{on "click" (fn this.selectProject project)}}
          {{on "mouseenter" (fn this.changeHoveredProject project)}}
          class="project-choices-list__item
            {{if
              (eq project this.hoveredProject)
              'project-choices-list__item--selected'
            }}"
          data-test-entry-edit-project-choice
        >
          {{project.name}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>