<div class="notif no-print" data-test-notifications-list {{on-focus-out-click @close}}>
  <div class="notif__header">
    <div class="notif__header-title">Notifications</div>
    <button {{on "click" @close}} type="button" class="notif__header-close" data-test-notifications-close>×</button>
  </div>
  {{#if this.hasNotification}}
    <ul class="notif__list">
      {{#each this.notifications as |notif|}}
        <Notification
          @notif={{notif}}
          @deleteNotification={{@deleteNotification}}
          @onResourceClick={{@onResourceClick}}
        />
      {{/each}}
    </ul>
  {{else}}
    <p class="notif__empty" data-test-notifications-empty>
      No notification yet.
      <i class="notif__empty-sub">Yay, you can focus on your work in the most productive way !</i>
    </p>
  {{/if}}
</div>
