<li
  class="project {{this.classNames}}"
  data-test-project="{{or this.project.id '-1'}}"
  {{this.onFocusOutClickModifier this.closeEdit}}
>

  <div class="project__actions">
    {{#if this.isErrored}}
      <button
        type="button"
        {{on "click" this.retrySaveOrDelete}}
        class="project__action project__action--retry touch"
        data-test-project-retry
      >
      </button>
    {{/if}}
    {{#if this.isInvalid}}
      <button
        type="button"
        {{on "click" this.startEdit}}
        class="project__action project__action--edit-invalid touch"
        data-test-project-edit-invalid
      >
        Edit
      </button>
    {{/if}}
    {{#if this.canRevert}}
      <button
        type="button"
        {{on "click" this.revertEdit}}
        class="project__action project__action--revert touch"
        data-test-project-edit-rollback
      >
        Revert
      </button>
    {{/if}}
    {{#if this.canDelete}}
      <button
        type="button"
        {{on "click" this.markForDelete}}
        class="project__action project__action--delete touch"
        data-test-project-delete
      >
        Delete
      </button>
    {{/if}}
  </div>

  {{#if this.isEditing}}
    <div class="touch" data-test-project-name>
      <Input
        @value={{this.project.name}}
        class="project__title-input text-input"
        @enter={{this.closeEdit}}
        {{select-on-focus}}
        {{focus-if true}}
        data-test-project-edit-name
      />
    </div>
  {{else}}
    <div
      {{on "click" this.startEdit}}
      class="project-name touch"
      data-test-project-name
    >
      {{this.project.name}}
    </div>
  {{/if}}

</li>
