<li
  class="entry {{this.classNames}}"
  data-test-entry="{{this.entry.id}}"
  {{this.onFocusOutClickModifier this.closeEdit}}
>

  {{#unless this.rounding}}
    <div class="entry__actions no-print">
      {{#if this.isErrored}}
        <button
          type="button"
          {{on "click" this.retrySaveOrDeleteEntry}}
          class="entry__action entry__action--retry"
          data-test-entry-retry
        >
          Retry
        </button>
      {{/if}}
      {{#if this.canRevert}}
        <button
          type="button"
          {{on "click" this.revertEditEntry}}
          class="entry__action entry__action--revert"
          data-test-entry-edit-rollback
        >
          Revert
        </button>
      {{/if}}
      {{#if this.isClear}}
        <button
          type="button"
          {{on "click" this.markEntryForDelete}}
          class="entry__action entry__action--delete"
          data-test-entry-delete
        >
          Delete
        </button>
        <button
          type="button"
          {{on "click" this.editEntryDate}}
          class="entry__action entry__action--change-date"
          data-test-entry-edit-date
        >
          Change date
        </button>
      {{/if}}
      {{#if this.canRestartEntry}}
        <button
          type="button"
          {{on "click" this.restartEntry}}
          class="entry__action entry__action--restart"
          data-test-entry-restart
        >
          Play
        </button>
      {{/if}}
    </div>
  {{/unless}}

  <div class="entry__content">
    {{#if this.isEditingDate}}
      <div
        class="entry__calendar"
        {{datepicker this.entry.startedAt this.updateEntryDate}}
      ></div>
    {{/if}}

    {{#if this.showDate}}
      <div class="entry__attr entry__attr--date" data-test-entry-date>
        {{moment-format this.entry.startedAt "DD/MM"}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry__attr entry__attr--title">
        <Input
          @value={{this.entry.title}}
          class="entry__title-input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "title")}}
          data-test-entry-edit-title
        />
      </div>
    {{else}}
      <div
        {{on "click" (fn this.editEntry "title")}}
        class="entry__attr entry__attr--title {{unless this.entry.title 'entry__attr--empty'}}"
        data-test-entry-title
      >
        {{if this.entry.title this.entry.title "No title"}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry__attr entry__attr--project">
        <EntryChooseProject
          @projectName={{this.entry.project.name}}
          @inputClasses="entry__input"
          @searchProjects={{this.searchProjects}}
          @selectProject={{this.selectProject}}
          @focusOnInput={{eq this.fieldNameToFocusOnEdit "project"}}
        />
      </div>
    {{else}}
      <div
        {{on "click" (fn this.editEntry "project")}}
        class="entry__attr entry__attr--project
          {{unless this.showProjectOnPrint 'no-print'}}
          {{unless this.entry.project 'entry__attr--empty'}}"
        data-test-entry-project
      >
        {{if this.entry.project this.entry.project.name "No project"}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry__attr entry__attr--duration">
        <Input
          @value={{this.formattedDuration}}
          class="entry__input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "duration")}}
          {{on "focusout" this.formattedDurationChanged}}
          data-test-entry-edit-duration
        />
      </div>
    {{else}}
      <div
        {{on "click" (fn this.editEntry "duration")}}
        class="entry__attr entry__attr--duration"
        data-test-entry-duration
      >
        {{format-duration
          (if
            this.rounding
            this.entry.roundedDurationInSeconds
            this.entry.durationInSeconds
          )
        }}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry__attr entry__attr--time">
        <Input
          @value={{this.formattedStartedAt}}
          class="entry__input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "startedAt")}}
          data-test-entry-edit-started-at
        />
      </div>
    {{else}}
      <div
        {{on "click" (fn this.editEntry "startedAt")}}
        class="entry__attr entry__attr--time no-print"
        data-test-entry-started-at
      >
        {{#if this.entry.startedAt}}
          {{moment-format this.entry.startedAt "H:mm"}}
        {{/if}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry__attr entry__attr--time">
        <Input
          @value={{this.formattedStoppedAt}}
          class="entry__input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "stoppedAt")}}
          data-test-entry-edit-stopped-at
        />
      </div>
    {{else}}
      <div
        {{on "click" (fn this.editEntry "stoppedAt")}}
        class="entry__attr entry__attr--time no-print"
        data-test-entry-stopped-at
      >
        {{#if this.entry.stoppedAt}}
          {{moment-format this.entry.stoppedAt "H:mm"}}
        {{/if}}
      </div>
    {{/if}}
  </div>

</li>
