<li class="entry {{this.classNames}}" data-test-entry="{{this.entry.id}}" {{on-focus-out-click this.closeEdit this.isEditing}}>

  {{#unless this.rounding}}
    <div class="entry-actions no-print">
      {{#if this.isErrored}}
        <a {{on "click" this.retrySaveOrDeleteEntry}} class="entry-action entry-action-retry touch" data-test-entry-retry>
        </a>
      {{/if}}
      {{#if this.canRevert}}
        <a {{on "click" this.revertEditEntry}} class="entry-action entry-action-revert touch" data-test-entry-edit-rollback>
          <img class="entry-action-cancel-img" src="/assets/images/revert.svg" alt="Revert" />
        </a>
      {{/if}}
      {{#if this.isClear}}
        <a {{on "click" this.markEntryForDelete}} class="entry-action entry-action-delete touch" data-test-entry-delete>
          <img class="entry-action-delete-img" src="/assets/images/trash.svg" alt="Delete" />
        </a>
        <a {{on "click" this.editEntryDate}} class="entry-action entry-action-delete touch" data-test-entry-edit-date>
          <img class="entry-action-delete-img" src="/assets/images/calendar.svg" alt="Change date" />
        </a>
      {{/if}}
      {{#if this.canRestartEntry}}
        <a {{on "click" this.restartEntry}} class="entry-action entry-action-restart touch">
          <img class="entry-action-restart-img" src="/assets/images/play.svg" alt="Restart" />
        </a>
      {{/if}}
    </div>
  {{/unless}}

  <div class="entry-content">
    {{#if this.isEditingDate}}<div class="entry-edit-date" {{datepicker this.entry.startedAt this.updateEntryDate}}/>{{/if}}

    {{#if this.isEditing}}
      <div class="entry-title">
        <Input
          @value={{this.entry.title}}
          class="entry-edit-title text-input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "title")}}
          data-test-entry-edit-title />
      </div>
    {{else}}
      <div {{on "click" (fn this.editEntry "title")}} class="entry-title touch" data-test-entry-title>
        {{#if this.entry.title}}
          {{this.entry.title}}
        {{else}}
          <span class="entry-title-no-title">No title</span>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry-project touch it-entry-project">
        <EntryChooseProject
          @projectName={{unbound this.entry.project.name}}
          @classNamePrefix="entry-edit"
          @searchProjects={{this.searchProjects}}
          @selectProject={{this.selectProject}}
          @focusOnInput={{eq this.fieldNameToFocusOnEdit "project"}} />
      </div>
    {{else}}
      <div {{on "click" (fn this.editEntry "project")}} class="entry-project touch" data-test-entry-project>
        {{#if this.entry.project}}
          {{this.entry.project.name}}
        {{else}}
          <span class="entry-project-no-project">No project</span>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry-duration touch">
        <Input
           @value={{this.formattedDuration}}
          class="entry-edit-duration text-input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "duration")}}
          {{on "focusout" this.formattedDurationChanged}}
          data-test-entry-edit-duration />
      </div>
    {{else}}
      <div {{on "click" (fn this.editEntry "duration")}} class="entry-duration touch" data-test-entry-duration>
        {{format-duration this.entry.durationInSeconds}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry-started-at touch">
        <Input
          @value={{this.formattedStartedAt}}
          class="entry-edit-started-at text-input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "startedAt")}}
          data-test-entry-edit-started-at />
      </div>
    {{else}}
      <div {{on "click" (fn this.editEntry "startedAt")}} class="entry-started-at touch no-print" data-test-entry-started-at>
        {{#if this.entry.startedAt}}
          {{moment-format this.entry.startedAt "H:mm"}}
        {{/if}}
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="entry-stopped-at touch">
        <Input
          @value={{this.formattedStoppedAt}}
          class="entry-edit-stopped-at text-input"
          @enter={{this.closeEdit}}
          {{select-on-focus}}
          {{focus-if (eq this.fieldNameToFocusOnEdit "stoppedAt")}}
          data-test-entry-edit-stopped-at />
      </div>
    {{else}}
      <div {{on "click" (fn this.editEntry "stoppedAt")}} class="entry-stopped-at touch no-print" data-test-entry-stopped-at>
        {{#if this.entry.stoppedAt}}
          {{moment-format this.entry.stoppedAt "H:mm"}}
        {{/if}}
      </div>
    {{/if}}
  </div>

</li>
