<section
  class="client {{this.classNames}}"
  data-test-client="{{this.client.id}}"
  {{this.onFocusOutClickModifier this.closeEdit}}
>

  <div class="client-actions">
    {{#if this.isErrored}}
      <button
        {{on "click" this.retrySaveOrDelete}}
        class="client-action client-action-retry touch"
        data-test-client-retry
      >
        Retry
      </button>
    {{/if}}
    {{#if this.isInvalid}}
      <button
        {{on "click" this.startEdit}}
        class="client-action client-action-edit-invalid touch"
        data-test-client-edit-invalid
      >
        Edit
      </button>
    {{/if}}
    {{#if this.canRevert}}
      <button
        {{on "click" this.revertEdit}}
        class="client-action client-action-revert touch"
        data-test-client-edit-rollback
      >
        Revert
      </button>
    {{/if}}
    {{#if this.isClear}}
      <button
        {{on "click" this.markForDelete}}
        class="client-action client-action-delete touch"
        data-test-client-delete
      >
        Delete
      </button>
    {{/if}}
  </div>

  {{#if this.isEditing}}
    <h2 class="client-title touch">
      <Input
        @value={{this.client.name}}
        class="client-edit-name text-input"
        @enter={{this.closeEdit}}
        {{select-on-focus}}
        {{focus-if true}}
        data-test-client-edit-name
      />
    </h2>
  {{else}}
    <h2
      {{on "click" this.startEdit}}
      class="client-title touch"
      data-test-client
    >
      <span
        class="client-title-txt"
        data-test-client-name
      >{{this.client.name}}</span>
    </h2>
  {{/if}}

</section>
