<label
  for="{{concat 'password-' @user.id}}"
  class="page__user-name"
  data-test-user-name
>
  @
  {{@user.name}}
</label>
<Input
  @type="password"
  id={{concat "password-" @user.id}}
  @enter={{fn @onSubmit @user.id}}
  {{on "keyup" (fn @keyup @user.id)}}
  class="page__user-password"
  data-test-password
/>