{{page-title "Account"}}

<div class="page page--account">
  <div class="title-bar">
    <h1 class="title title-bar__title">My account</h1>
    <div class="title-bar__actions">
      <button
        {{on "click" this.logout}}
        type="button"
        class="page__logout"
        data-test-logout
      >
        Log out
      </button>
    </div>
  </div>

  <form {{on "submit" this.confirmChanges}} class="form page__form">

    <div class="form__row">
      <label for="name" class="form__label">Name</label>
      <div class="form__value">
        <input
          {{on "change" this.changeName}}
          {{on "keyup" this.changeName}}
          id="name"
          type="text"
          autocomplete="nickname"
          class="form__input {{if this.errors.name 'form__input--invalid'}}"
          value={{this.name}}
          required
          data-test-user-name
        />
        {{#if this.errors.name}}
          <ul class="form__error-list" data-test-user-name-error>
            {{#each this.errors.name as |error|}}
              <li class="form__error">{{error.message}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>

    <div class="form__row">
      <label for="password" class="form__label">New Password</label>
      <div class="form__value form__value--password">
        <input
          {{on "change" this.changePassword}}
          {{on "keyup" this.changePassword}}
          id="password"
          type="{{if this.showPassword 'text' 'password'}}"
          minlength="8"
          autocomplete="new-password"
          class="form__input form__input--password"
          value={{this.password}}
          data-test-user-password
        />
        <button
          type="button"
          {{on "click" this.toggleShowPassword}}
          class="form__password-toggle"
          data-test-user-password-toggle-display
        >{{this.showPasswordLabel}}</button>
      </div>
    </div>

    <div class="form__row form__row--single">
      <div class="form__value">
        <button
          type="submit"
          class="form__submit {{if this.hasNoChange 'form__submit--disabled'}}"
          data-test-user-submit
          disabled={{this.hasNoChange}}
        >
          Update
        </button>
      </div>
    </div>
  </form>

  <h2 class="title">Settings</h2>

  <section>
    <ul>
      {{#each this.user.configs as |config|}}
        {{#if (and config.value (eq config.id "teamwork"))}}
          <ShowUserConfig
            @config={{config}}
            @updateConfig={{this.updateConfig}}
          >
            <LinkTo
              @route="teamwork/config"
              class="link config__link"
              data-test-config-link
            >
              Click here to configure
            </LinkTo>
          </ShowUserConfig>
        {{else}}
          <ShowUserConfig
            @config={{config}}
            @updateConfig={{this.updateConfig}}
          />
        {{/if}}
      {{/each}}
    </ul>
  </section>
</div>