{{page-title "Tactic"}}

<Favicon @isStarted={{this.hasRunningEntry}} />

<header class="header print@header" data-test-header>
  <h1 class="header__brand print@header__brand">Tactic</h1>

  {{#if this.isAuthenticated}}
    <nav class="menu print@hidden">
      <LinkTo @route="index" data-test-index-link class="menu__item">
        Timer
      </LinkTo>
      <LinkTo @route="reviews" data-test-reviews-link class="menu__item">
        Reviews
      </LinkTo>
      <LinkTo @route="stats" data-test-stats-link class="menu__item">
        Stats
      </LinkTo>
      <LinkTo @route="projects" data-test-projects-link class="menu__item">
        Projects
      </LinkTo>
    </nav>

    <div class="header__aside print@hidden">
      <UserSummary
        @rounding={{this.summaryRounding}}
        @weekEntries={{this.weekEntries}}
        @monthEntries={{this.monthEntries}}
      />
      <section class="header__aside-menu menu">
        <button
          {{on "click" this.toggleNotifications}}
          type="button"
          class="menu__item menu__item--icon menu__item--notif
            {{if this.hasUnreadNotification 'menu__item--notif-present'}}"
          data-test-notifications-toggle
        >
          Notifications
        </button>
        <LinkTo @route="account" data-test-account-link class="menu__item">
          @
          {{this.currentUserName}}
        </LinkTo>
      </section>
    </div>

    {{#if this.showNotifications}}
      <NotificationList
        @notifications={{this.notifications}}
        @close={{this.toggleNotifications}}
        @deleteNotification={{this.deleteNotification}}
        @onResourceClick={{this.onNotificationResourceClick}}
      />
    {{/if}}
  {{/if}}
</header>

<div class="layout__inner">
  {{outlet}}
</div>