{{page-title "Tactic"}}

<Favicon @isStarted={{this.hasRunningEntry}} />

<header class="header" data-test-header>
  <div class="header-brand-container">
    <h1 class="header-brand">Tactic</h1>
    {{#if this.isAuthenticated}}
      <LinkTo @route="login" class="header-brand-user no-print" data-test-login-link>@ {{this.currentUserName}}</LinkTo>
    {{/if}}
  </div>

  {{#if this.isAuthenticated}}
    <nav class="header-nav no-print">
      <section class="header-nav-section">
        <LinkTo @route="index" data-test-index-link class="header-nav-section-title touch">Timer</LinkTo>
      </section>
      <UserSummary @weekEntries={{this.weekEntries}} @monthEntries={{this.monthEntries}} />
    </nav>
  {{/if}}
</header>

<div class="app-content">
  {{outlet}}
</div>
