{{page-title "Tactic"}}

<Favicon @isStarted={{this.hasRunningEntry}} />

<header class="header" data-test-header>
  <h1 class="header-brand">Tactic</h1>

  {{#if this.isAuthenticated}}
    <nav class="header-nav no-print">
      <section class="header-nav-section">
        <LinkTo
          @route="index"
          data-test-index-link
          class="header-nav-section-title touch"
        >Timer</LinkTo>
      </section>
      <section class="header-nav-section">
        <LinkTo
          @route="reviews"
          data-test-reviews-link
          class="header-nav-section-title touch"
        >Reviews</LinkTo>
      </section>
      <section class="header-nav-section">
        <LinkTo
          @route="stats"
          data-test-stats-link
          class="header-nav-section-title touch"
        >Stats</LinkTo>
      </section>
      <section class="header-nav-section">
        <LinkTo
          @route="projects"
          data-test-projects-link
          class="header-nav-section-title touch"
        >Projects</LinkTo>
      </section>
      <section class="header-nav-section right">
        <UserSummary
          @rounding={{this.summaryRounding}}
          @weekEntries={{this.weekEntries}}
          @monthEntries={{this.monthEntries}}
        />
      </section>
      <section class="header-nav-section-account">
        <LinkTo
          @route="account"
          data-test-account-link
          class="header-nav-section-title touch"
        >@ {{this.currentUserName}}</LinkTo>
      </section>
    </nav>
  {{/if}}
</header>

<div class="app-content">
  {{outlet}}
</div>