{{page-title "Login"}}

<div class="page page--login">
  <h1 class="title page__title">Who are you ?</h1>
  <ul>
    {{#each @model as |loginUser|}}
      <li
        class="page__user {{if loginUser.hasError 'page__user--errored'}}"
        data-test-user-error
      >
        <Login::UserForm
          @user={{loginUser.user}}
          @onSubmit={{this.logIn}}
          @keyup={{this.clearError}}
        />
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}