{{page-title "Projects"}}

<div class="page page--projects">
  <h1 class="title">Projects</h1>
  {{#each @model.groups as |group|}}
    <section
      class="client-projects-list
        {{if
          group.client.stateManager.isPendingDeleteOrDeleteErrored
          'clients-projects-list--deleting'
        }}"
      data-test-client-with-projects="{{or group.client.id '-1'}}"
    >
      <ShowClient
        @client={{group.client}}
        @startEdit={{this.startEditClient}}
        @stopEdit={{this.stopEditClient}}
        @cancelEdit={{this.cancelEditClient}}
        @markForDelete={{this.markClientForDelete}}
        @didDelete={{this.didDeleteClient}}
        @retrySaveOrDelete={{this.retrySaveOrDeleteClient}}
      />
      <ul class="project-group-item-list">
        {{#each group.projects as |project|}}
          <ShowProject
            @project={{project}}
            @deleteIsDisabled={{project.client.stateManager.isPendingDelete}}
            @startEdit={{this.startEditProject}}
            @stopEdit={{this.stopEditProject}}
            @cancelEdit={{this.cancelEditProject}}
            @markForDelete={{this.markProjectForDelete}}
            @didDelete={{this.didDeleteProject}}
            @retrySaveOrDelete={{this.retrySaveOrDeleteProject}}
          />
        {{/each}}
        <li
          {{on "click" (fn this.buildProject group.client)}}
          class="project project--italic touch"
          data-test-project-new
        >
          <span class="project__title-plus">+</span>
          Create new project
        </li>
      </ul>
    </section>
  {{/each}}
  <section class="project-group project-group-create">
    <section
      {{on "click" this.buildClient}}
      class="client"
      data-test-client-new
    >
      <h2 class="client__title touch">
        <span class="client__title-txt">
          <span class="client__title-plus">+</span>
          <span class="client__title client__title--italic">Create new client</span>
        </span>
      </h2>
    </section>
  </section>
</div>
