<div class="page page--stats">

  <EntriesFilters
    @allUsers={{this.allUsers}}
    @allClients={{this.allClients}}
    @allProjects={{this.allProjectsForSelectedClientIds}}
    @selectedUserIds={{this.selectedUserIds}}
    @selectedClientIds={{this.selectedClientIds}}
    @selectedProjectIds={{this.selectedProjectIds}}
    @since={{this.since}}
    @before={{this.before}}
    @query={{this.query}}
    @changeSelectedUserIds={{this.changeSelectedUserIds}}
    @changeSelectedClientIds={{this.changeSelectedClientIds}}
    @changeSelectedProjectIds={{this.changeSelectedProjectIds}}
    @changeSince={{this.changeSince}}
    @changeBefore={{this.changeBefore}}
    @changeQuery={{this.changeQuery}}
    @changeRounding={{this.changeRounding}}
  >
    <section class="filter filter--select reviews-filter reviews-filter-group no-print">
      <div>group</div>
      <div class="filter__header">
        <select
          {{on "change" this.changeGroup}}
          class="filter__select"
          data-test-filter-group
        >
          <option value="day" selected={{this.isDayGroup}}>Day</option>
          <option value="month" selected={{this.isMonthGroup}}>Month</option>
        </select>
      </div>
    </section>
  </EntriesFilters>

  {{#if this.statGroup}}
    <div class="page__chart">
      <ShowChart
        @title={{this.statGroup.title}}
        @scales={{this.statGroup.chartScales}}
        @tooltip={{this.statGroup.tooltip}}
        @data={{this.statGroup.chartData}}
      />
    </div>
  {{/if}}
</div>
